body{
    background-image: url("https://static1.squarespace.com/static/53b4d49de4b00894c69c7a0c/t/53f55bdde4b0a95765d3ec7f/1408588765988/Mint+Watercolor+Wallpaper_Pixejoo.jpg");
    margin: 25px;
    font-family: 'Slabo', 'serif;
}

h1{
    font-size: 40px;
}

p{
    font-size: 25px;
}
#navigation{
    width: 100%;
    text-align: center;
}

.active {
    background-color: #4CAF50;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: mintcream;
}

li {
    float: left;
    font-size: 25px;
}

li a {
    display: block;
    color: #1799B5;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #1799B5;
    color: mintcream;
}